<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevOrganizer.Properties.Settings.DevOrgDBConnectionString"
            connectionString="data source=C:\Users\wernerjc1\Documents\GitHub\DevOrganizer\DevOrganizer\DevOrganizer\DevOrgDB;datetimeformat=JulianDay"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>